package ${packageName}.service;

import java.util.List;

import com.baomidou.mybatisplus.extension.service.IService;
import com.rufeng.core.framework.db.Pager;
import com.rufeng.core.framework.web.ResultData;

import ${packageName}.domain.po.${ClassName};

/**
 * ${functionName}Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service extends IService<${ClassName}> {
    /**
     * 查询${functionName}
     *
     * @param ${pkColumn.javaField} ${functionName}ID
     * @return ${functionName}
     */
    public ResultData get(${pkColumn.javaType} ${pkColumn.javaField});

    /**
     * 查询${functionName}列表
     *
     * @param ${className} ${functionName}
     * @return ${functionName}集合
     */
    public ResultData list(${ClassName} ${className});

    /**
     * 分页查询${functionName}列表
     *
     * @param ${className} ${functionName}
     * @param page 分页对象
     * @return ${functionName}集合
     */
    public ResultData listPager(${ClassName} ${className}, Pager page);

    /**
     * 新增${functionName}
     *
     * @param ${className} ${functionName}
     * @return 结果
     */
    public ResultData add(${ClassName} ${className});

    /**
     * 修改${functionName}
     *
     * @param ${className} ${functionName}
     * @return 结果
     */
    public ResultData update(${ClassName} ${className});

    /**
     * 删除${functionName}信息
     *
     * @param ${pkColumn.javaField} ${functionName}ID
     * @return 结果
     */
    public ResultData delete(${pkColumn.javaType} ${pkColumn.javaField});
}
